.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 236px;
    word-wrap: normal;
    background-color: #fff;
    background-clip: content-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 44.25rem;
    margin: auto;
    padding-top: 10px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}